<div class="project-detail" *ngIf="project; else notFound">
  <h1>{{ project.title }}</h1>

  <p class="description">
    {{ project.description }}
  </p>

  <div class="tech">
    <span *ngFor="let tech of project.technologies">
      {{ tech }}
    </span>
  </div>

  <div class="gallery">
    <img
      *ngFor="let img of project.images"
      [src]="img"
      [alt]="project.title"
      (click)="openImage(img)"
    />
  </div>
</div>

<!-- LIGHTBOX -->
<div class="lightbox" *ngIf="selectedImage" (click)="closeImage()">
  <img [src]="selectedImage" />
</div>

<ng-template #notFound>
  <div class="not-found">
    <h2>Progetto non trovato</h2>
    <p>Controlla il link o torna alla lista progetti.</p>
  </div>
</ng-template>
