/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* contenuto che “spinge” il footer */
.content {
  flex: 1;
}
