<footer class="footer">
  <div class="footer-container">
    <!-- LOGO + NOME -->
    <div class="footer-brand">
      <img src="favicon.ico" alt="Logo" />
      <span>Fabio Adelfio</span>
    </div>

    <!-- NAV LINKS -->
    <div class="footer-links">
      <a routerLink="/">Home</a>
      <a routerLink="/about">About</a>
      <a routerLink="/projects">Projects</a>
      <a routerLink="/contact">Contact</a>
    </div>

    <!-- SOCIAL -->
    <div class="footer-social">
      <a href="https://github.com/fabioadelfio" target="_blank" rel="noopener noreferrer">
        <i class="bi bi-github"></i>
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/fabioadelfio7/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-linkedin"></i>
        LinkedIn
      </a>

      <a
        href="https://mail.google.com/mail/?view=cm&fs=1&to=adelfiofabio07@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="bi bi-envelope"></i>
        Email
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2026 Fabio Adelfio. All rights reserved.</p>
  </div>
</footer>
