<section class="contact-page">
  <div class="contact-container">
    <div class="contact-info">
      <h1>📩 Contattami</h1>

      <p>Hai un progetto, una collaborazione o vuoi semplicemente metterti in contatto con me?</p>

      <div class="socials">
        <a href="https://github.com/fabioadelfio" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-github"></i>
          GitHub
        </a>

        <a
          href="https://www.linkedin.com/in/fabioadelfio7/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="bi bi-linkedin"></i>
          LinkedIn
        </a>

        <a
          href="https://mail.google.com/mail/?view=cm&fs=1&to=adelfiofabio07@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="bi bi-envelope"></i>
          Email
        </a>
      </div>
    </div>

    <form class="contact-form" #form="ngForm" (ngSubmit)="sendEmail(form)">
      <div class="input-group">
        <input type="text" [(ngModel)]="contactData.name" name="name" required placeholder=" " />
        <label>Nome</label>
      </div>

      <div class="input-group">
        <input type="email" [(ngModel)]="contactData.email" name="email" required placeholder=" " />
        <label>Email</label>
      </div>

      <div class="input-group">
        <textarea
          rows="6"
          [(ngModel)]="contactData.message"
          name="message"
          required
          placeholder=" "
        ></textarea>
        <label>Messaggio</label>
      </div>

      <button type="submit" [disabled]="form.invalid">Invia Messaggio</button>
    </form>
  </div>
</section>
