<section class="hero">

  <div class="hero-content">

    <h1>👋 Ciao, sono {{ name }}</h1>

    <p class="subtitle">
      Full Stack Web Developer
    </p>

    <p class="description">
      Sono un Full Stack Web Developer con una
      forte passione per la logica e la
      programmazione. Il mio percorso in
      Ingegneria Informatica all’Università degli
      Studi di Palermo mi ha permesso di sviluppare
      un approccio analitico e metodico alla
      risoluzione dei problemi. Questa passione mi
      ha portato a completare un percorso
      intensivo in sviluppo web full-stack, creando
      applicazioni moderne, responsive e scalabili.
      Amo affrontare nuove sfide, imparare
      continuamente e lavorare su progetti che
      combinano creatività e tecnologia, portando
      valore concreto sia al team che agli utenti
      finali.
    </p>

    <div class="buttons">
      <a routerLink="/projects" class="btn primary">Vedi progetti</a>
      <a routerLink="/contact" class="btn secondary">Contattami</a>
    </div>

  </div>

</section>


<section class="section skills-section">

  <h2>💡 Skills</h2>

  <div class="skills">
    <div class="skill" *ngFor="let skill of skills">
      {{ skill }}
    </div>
  </div>

</section>


<section class="section dark">

  <h2>🚀 Progetti in evidenza</h2>

  <div class="projects">

    <div class="project-card" *ngFor="let project of projectsPreview">

      <h3>{{ project.title }}</h3>
      <p>{{ project.desc }}</p>

    </div>

  </div>

  <a routerLink="/projects" class="btn primary center">
    Tutti i progetti
  </a>

</section>